$outer-space: #404e5c;
$light-slate-gray: #77878b;
$wg-dream-blue: #488286;
$wg-dream-green: #5b9279;
$eton-blue: #99c2a2;
body{
	background-color: $wg-dream-blue;
	font-family: aladin, roboto, sans-serif;
	font-size: 22px;
}
.content{
	background-color: $wg-dream-green !important;
}
.name{
	//do later
}

.eton-blue{
	background-color: $eton-blue;
}

.dream-green{
	background-color: $wg-dream-green;
}

.outer-space{
	background-color: $outer-space;
}

.tab{
	font-size: 15px;
}